<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/8c0af23b-efc7-42d0-a965-43694def70bc/v3/index.json" />
  </packageSources>
</configuration>