<abp-page [title]="'::CompanyUsers' | abpLocalization">
  <abp-page-toolbar-container class="col">
    <div class="text-lg-end pt-2">
      <button
        class="btn btn-primary btn-sm mx-2"
        type="button"
        [disabled]="isExportToExcelBusy"
        (click)="exportToExcel()"
      >
        {{ '::ExportToExcel' | abpLocalization }}
      </button>

      <button
        *abpPermission="'Resume.CompanyUsers.Create'"
        class="btn btn-primary btn-sm"
        type="button"
        (click)="create()"
      >
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ '::NewCompanyUser' | abpLocalization }}
      </button>
    </div>
  </abp-page-toolbar-container>

  <abp-advanced-entity-filters localizationSourceName="" [list]="list">
    <abp-advanced-entity-filters-form>
      <form #filterForm (keyup.enter)="list.get()">
        <div class="row">
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="companyMainIdFilter">
                {{ '::CompanyMainId' | abpLocalization }}
              </label>

              <input
                id="companyMainIdFilter"
                class="form-control"
                [(ngModel)]="filters.companyMainId"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="userMainIdFilter">
                {{ '::UserMainId' | abpLocalization }}
              </label>

              <input
                id="userMainIdFilter"
                class="form-control"
                [(ngModel)]="filters.userMainId"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="jobNameFilter">
                {{ '::JobName' | abpLocalization }}
              </label>

              <input
                id="jobNameFilter"
                class="form-control"
                [(ngModel)]="filters.jobName"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="officePhoneFilter">
                {{ '::OfficePhone' | abpLocalization }}
              </label>

              <input
                id="officePhoneFilter"
                class="form-control"
                [(ngModel)]="filters.officePhone"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="extendedInformationFilter">
                {{ '::ExtendedInformation' | abpLocalization }}
              </label>

              <input
                id="extendedInformationFilter"
                class="form-control"
                [(ngModel)]="filters.extendedInformation"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minDateA">
                {{ '::MinDateA' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input
                  id="minDateA"
                  class="form-control"
                  #minDateAInput
                  #minDateADatepicker="ngbDatepicker"
                  name="minDateA"
                  ngbDatepicker
                  container="body"
                  readonly
                  (click)="minDateADatepicker.toggle()"
                  (keyup.space)="minDateADatepicker.toggle()"
                  [(ngModel)]="filters.dateAMin"
                  [ngModelOptions]="{ standalone: true }"
                />
                <div *ngIf="minDateAInput.value" class="input-group-append">
                  <button
                    class="btn btn-link px-2"
                    type="button"
                    [title]="'AbpUi::Clear' | abpLocalization"
                    (click)="
                      minDateADatepicker.writeValue(null);
                      minDateADatepicker.manualDateChange(null, true)
                    "
                  >
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxDateA">
                {{ '::MaxDateA' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input
                  id="maxDateA"
                  class="form-control"
                  #maxDateAInput
                  #maxDateADatepicker="ngbDatepicker"
                  name="maxDateA"
                  ngbDatepicker
                  readonly
                  (click)="maxDateADatepicker.toggle()"
                  (keyup.space)="maxDateADatepicker.toggle()"
                  [(ngModel)]="filters.dateAMax"
                  [ngModelOptions]="{ standalone: true }"
                />
                <div *ngIf="maxDateAInput.value" class="input-group-append">
                  <button
                    class="btn btn-link px-2"
                    type="button"
                    [title]="'AbpUi::Clear' | abpLocalization"
                    (click)="
                      maxDateADatepicker.writeValue(null);
                      maxDateADatepicker.manualDateChange(null, true)
                    "
                  >
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minDateD">
                {{ '::MinDateD' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input
                  id="minDateD"
                  class="form-control"
                  #minDateDInput
                  #minDateDDatepicker="ngbDatepicker"
                  name="minDateD"
                  ngbDatepicker
                  container="body"
                  readonly
                  (click)="minDateDDatepicker.toggle()"
                  (keyup.space)="minDateDDatepicker.toggle()"
                  [(ngModel)]="filters.dateDMin"
                  [ngModelOptions]="{ standalone: true }"
                />
                <div *ngIf="minDateDInput.value" class="input-group-append">
                  <button
                    class="btn btn-link px-2"
                    type="button"
                    [title]="'AbpUi::Clear' | abpLocalization"
                    (click)="
                      minDateDDatepicker.writeValue(null);
                      minDateDDatepicker.manualDateChange(null, true)
                    "
                  >
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxDateD">
                {{ '::MaxDateD' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input
                  id="maxDateD"
                  class="form-control"
                  #maxDateDInput
                  #maxDateDDatepicker="ngbDatepicker"
                  name="maxDateD"
                  ngbDatepicker
                  readonly
                  (click)="maxDateDDatepicker.toggle()"
                  (keyup.space)="maxDateDDatepicker.toggle()"
                  [(ngModel)]="filters.dateDMax"
                  [ngModelOptions]="{ standalone: true }"
                />
                <div *ngIf="maxDateDInput.value" class="input-group-append">
                  <button
                    class="btn btn-link px-2"
                    type="button"
                    [title]="'AbpUi::Clear' | abpLocalization"
                    (click)="
                      maxDateDDatepicker.writeValue(null);
                      maxDateDDatepicker.manualDateChange(null, true)
                    "
                  >
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minSort">
                {{ '::MinSort' | abpLocalization }}
              </label>

              <input
                id="minSort"
                type="number"
                class="form-control"
                [(ngModel)]="filters.sortMin"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxSort">
                {{ '::MaxSort' | abpLocalization }}
              </label>

              <input
                id="maxSort"
                type="number"
                class="form-control"
                [(ngModel)]="filters.sortMax"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="noteFilter">
                {{ '::Note' | abpLocalization }}
              </label>

              <input
                id="noteFilter"
                class="form-control"
                [(ngModel)]="filters.note"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="statusFilter">
                {{ '::Status' | abpLocalization }}
              </label>

              <input
                id="statusFilter"
                class="form-control"
                [(ngModel)]="filters.status"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="matchingReceiveFilter">
                {{ '::MatchingReceive' | abpLocalization }}
              </label>

              <select
                name="matchingReceive"
                id="matchingReceiveFilter"
                class="form-select form-control"
                [(ngModel)]="filters.matchingReceive"
                [ngModelOptions]="{ standalone: true }"
                (change)="list.get()"
              >
                <option [ngValue]=""></option>
                <option [ngValue]="true">{{ 'AbpUi::Yes' | abpLocalization }}</option>
                <option [ngValue]="false">{{ 'AbpUi::No' | abpLocalization }}</option>
              </select>
            </div>
          </div>

          <div class="col-12 col-sm-auto align-self-end mb-3">
            <div class="row">
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-outline-primary" (click)="clearFilters()">
                  <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                </button>
              </div>
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-primary" (click)="list.get()">
                  <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </abp-advanced-entity-filters-form>
  </abp-advanced-entity-filters>

  <div class="card">
    <div class="card-body">
      <ngx-datatable [rows]="data.items" [count]="data.totalCount" [list]="list" default>
        <ngx-datatable-column
          [name]="'AbpUi::Actions' | abpLocalization"
          [maxWidth]="150"
          [width]="150"
          [sortable]="false"
        >
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button
                class="btn btn-primary btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                ngbDropdownToggle
              >
                <i class="fa fa-cog me-1" aria-hidden="true"></i>
                {{ 'AbpUi::Actions' | abpLocalization }}
              </button>

              <div ngbDropdownMenu>
                <button
                  ngbDropdownItem
                  *abpPermission="'Resume.CompanyUsers.Edit'"
                  (click)="update(row)"
                >
                  {{ 'AbpUi::Edit' | abpLocalization }}
                </button>

                <button
                  ngbDropdownItem
                  *abpPermission="'Resume.CompanyUsers.Delete'"
                  (click)="delete(row)"
                >
                  {{ 'AbpUi::Delete' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::CompanyMainId' | abpLocalization }}" prop="companyMainId">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.companyMainId }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::UserMainId' | abpLocalization }}" prop="userMainId">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.userMainId }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::JobName' | abpLocalization }}" prop="jobName">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.jobName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::OfficePhone' | abpLocalization }}" prop="officePhone">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.officePhone }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ '::ExtendedInformation' | abpLocalization }}"
          prop="extendedInformation"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.extendedInformation }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::DateA' | abpLocalization }}" prop="dateA">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.dateA | date }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::DateD' | abpLocalization }}" prop="dateD">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.dateD | date }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Sort' | abpLocalization }}" prop="sort">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.sort }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Note' | abpLocalization }}" prop="note">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.note }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Status' | abpLocalization }}" prop="status">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.status }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ '::MatchingReceive' | abpLocalization }}"
          prop="matchingReceive"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-template
              [ngIf]="row.matchingReceive"
              [ngIfThen]="yes"
              [ngIfElse]="no"
            ></ng-template>

            <ng-template #yes>
              <div class="text-success">
                <span [title]="'AbpUi::Yes' | abpLocalization">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>

            <ng-template #no>
              <div class="text-danger">
                <span [title]="'AbpUi::No' | abpLocalization">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</abp-page>

<abp-modal [busy]="isModalBusy" [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>
      {{ (selected ? 'AbpUi::Edit' : '::NewCompanyUser') | abpLocalization }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" id="company-user" (ngSubmit)="submitForm()" validateOnSubmit>
      <div class="mt-2 fade-in-top">
        <div class="mb-3">
          <label class="form-label" for="company-user-company-main-id">
            {{ '::CompanyMainId' | abpLocalization }}
          </label>

          <input
            id="company-user-company-main-id"
            formControlName="companyMainId"
            class="form-control"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="company-user-user-main-id">
            {{ '::UserMainId' | abpLocalization }}
          </label>

          <input id="company-user-user-main-id" formControlName="userMainId" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="company-user-job-name">
            {{ '::JobName' | abpLocalization }}
          </label>

          <input
            id="company-user-job-name"
            formControlName="jobName"
            class="form-control"
            maxlength="50"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="company-user-office-phone">
            {{ '::OfficePhone' | abpLocalization }}
          </label>

          <input
            id="company-user-office-phone"
            formControlName="officePhone"
            class="form-control"
            maxlength="50"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="company-user-extended-information">
            {{ '::ExtendedInformation' | abpLocalization }}
          </label>

          <input
            id="company-user-extended-information"
            formControlName="extendedInformation"
            class="form-control"
            maxlength="500"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="company-user-date-a">
            {{ '::DateA' | abpLocalization }}
          </label>

          <div class="input-group" validationTarget>
            <input
              readonly
              id="company-user-date-a"
              formControlName="dateA"
              class="form-control"
              ngbDatepicker
              #dateAInput
              #dateADatepicker="ngbDatepicker"
              (click)="dateADatepicker.open()"
              (keyup.space)="dateADatepicker.open()"
            />
            <div *ngIf="dateAInput.value" class="input-group-append">
              <button
                class="btn btn-link px-2"
                type="button"
                [title]="'AbpUi::Clear' | abpLocalization"
                (click)="
                  dateADatepicker.writeValue(null); dateADatepicker.manualDateChange(null, true)
                "
              >
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="company-user-date-d">
            {{ '::DateD' | abpLocalization }}
          </label>

          <div class="input-group" validationTarget>
            <input
              readonly
              id="company-user-date-d"
              formControlName="dateD"
              class="form-control"
              ngbDatepicker
              #dateDInput
              #dateDDatepicker="ngbDatepicker"
              (click)="dateDDatepicker.open()"
              (keyup.space)="dateDDatepicker.open()"
            />
            <div *ngIf="dateDInput.value" class="input-group-append">
              <button
                class="btn btn-link px-2"
                type="button"
                [title]="'AbpUi::Clear' | abpLocalization"
                (click)="
                  dateDDatepicker.writeValue(null); dateDDatepicker.manualDateChange(null, true)
                "
              >
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="company-user-sort">
            {{ '::Sort' | abpLocalization }}
          </label>

          <input type="number" id="company-user-sort" formControlName="sort" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="company-user-note">
            {{ '::Note' | abpLocalization }}
          </label>

          <input
            id="company-user-note"
            formControlName="note"
            class="form-control"
            maxlength="500"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="company-user-status">
            {{ '::Status' | abpLocalization }}
          </label>

          <input
            id="company-user-status"
            formControlName="status"
            class="form-control"
            maxlength="50"
          />
        </div>
        <div class="form-check mb-3">
          <input
            type="checkbox"
            id="company-user-matching-receive"
            formControlName="matchingReceive"
            class="form-check-input"
          />

          <label for="company-user-matching-receive" class="form-check-label">
            {{ '::MatchingReceive' | abpLocalization }}
          </label>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>

    <abp-button iconClass="fa fa-check" buttonType="submit" formName="company-user">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
  </ng-template>
</abp-modal>
